tensorflow==1.7
scipy~=1.5.2
scikit-learn~=0.24.2
opencv-python~=4.5.2.54
h5py~=2.10.0
matplotlib~=3.3.4
Pillow~=8.2.0
requests~=2.25.1
psutil


tensorflow==1.7 scipy scikit-learn opencv h5py matplotlib Pillow requests psutil


numpy~=1.19.1
six~=1.16.0